@model MyRecipes.Web.ViewModels.SearchRecipes.SearchIndexViewModel

@{
    this.ViewData["Title"] = "Search recipes by ingredients";
}

<h1>@this.ViewData["Title"]</h1>

<form asp-action="List" method="get">
    <div class="row">
        @foreach (var ingredient in this.Model.Ingredients)
        {
            <div class="col-1 text-center">
                <input id="ingredient_@ingredient.Id" type="checkbox" name="Ingredients" value="@ingredient.Id" class="form-control" />
                <label for="ingredient_@ingredient.Id">@ingredient.Name</label>
            </div>
        }
    </div>
    <button class="btn btn-primary">Search</button>
</form>