@{
    this.ViewData["Name"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <a class="button btn-danger" asp-controller="GatherRecipes" asp-action="Add">Add Data</a>
    </div>

    
</div>
